<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

    <!-- Header Body -->
    <div class="header-body">

      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Info</h5>
                  <span class="h2 font-weight-bold mb-0">Blogs</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="ni ni-bold"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-right"></i> </span>
                <a routerLink="blog">
                  <span class="text-nowrap">Show More</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Info</h5>
                  <span class="h2 font-weight-bold mb-0">Posts</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="ni ni-chat-round"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-right"></i> </span>
                <a routerLink="post">
                  <span class="text-nowrap">Show More</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Info</h5>
                  <span class="h2 font-weight-bold mb-0">Examples</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="ni ni-air-baloon"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-right"></i> </span>
                <a routerLink="example">
                  <span class="text-nowrap">Show More</span>
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
